<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonds</title>
</head>

<body>
    <h1>
        <%=music.name %>
    </h1>
    <h2>
        <%= album.artist %>
    </h2>
    <p>
        <audio controls>
            <source src="/<%=album._id%>/<%=music.filename %>" type="audio/wav">
        </audio>
    </p>
    <a href="/<%=album._id %>">Back</a><br>
    <a href="/<%=album._id %>/<%= music._id %>/edit">Edit Music</a><br>
    <form action="/<%= album._id %>/<%= music._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>

</html>